In [1]:
import pandas as pd

In [2]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [3]:
sqlalchemy.__version__

'2.0.5.post1'

In [4]:
psycopg2

In [5]:
engine = create_engine('postgresql://postgres:postgres@postgres:5432')

In [6]:
print('hello world')

hello world

In [7]:
from sqlalchemy import text

with engine.connect() as con:    
    con.execute(text("CREATE TABLE IF NOT EXISTS book (id INT, name VARCHAR(40));"))
    con.execute(text("INSERT INTO book VALUES (1, 'blah');"))
    rs = con.execute(text('SELECT * FROM book'))

    for row in rs:
        print(row)

(1, 'blah')